<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <%= render 'form', {f: f} %>

  <div class="form-group form-group-lg">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div class="well">
  Unhappy?
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</div>
