<h1>Listing All Appointment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Prep duration</th>
      <th>Post duration</th>
      <th>Color class</th>
      <th>Text Color</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_types.each do |appointment_type| %>
      <tr>
        <td><%= appointment_type.name %></td>
        <td><%= appointment_type.duration %></td>
        <td><%= appointment_type.prep_duration %></td>
        <td><%= appointment_type.post_duration %></td>
        <td><%= appointment_type.color_class %></td>
        <td><%= appointment_type.text_color %></td>
        <td><%= link_to 'Show', appointment_type %></td>
        <td><%= link_to 'Edit', edit_admin_appointment_type_path(appointment_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment type', new_admin_appointment_type_path %>
