<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment_type.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment_type.duration %>
</p>

<p>
  <strong>Prep duration:</strong>
  <%= @appointment_type.prep_duration %>
</p>

<p>
  <strong>Post duration:</strong>
  <%= @appointment_type.post_duration %>
</p>

<p>
  <strong>Color:</strong>
  <%= @appointment_type.color_class %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @appointment_type.color_class %>
</p>

<%= link_to 'Edit', edit_admin_appointment_type_path(@appointment_type) %> |
<%= link_to 'Back', admin_appointment_types_path %>
