<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user.display %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>Appointment type:</strong>
  <%= @appointment.appointment_type.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
